@media only screen and (max-width: 642px){
	

}
@media only screen and (max-width: 540px){
	

}
@media only screen and (max-width: 440px){
	

}
@media only screen and (max-width: 340px){
 

}
@media only screen and (min-width: 500px){
	
}
@media only screen and (max-width: 900px){
	
	.footer-content, .list-clients, .list-about, .navbar{
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex; 
	    flex-wrap: wrap;
	}
	 .navbar{
		flex-direction: column;
	 	align-items:center;
	 }
	 .navbar-right{
	 	justify-content: center;
	 }
	 .navbar-nav{
		flex-direction: column;
	 }
	 .navbar-nav li{
		margin: 20px 0px;
	 }
}